@{
    ViewData["Title"] = "Home Page";
}

<div class="row" style="margin-top:100px;margin-bottom:100px">
    <div class="col-md-6">
        <h2><strong>Who wants to be a millionaire?</strong></h2>

        <p>
            Join our quiz show and win some money.
        </p>
        <p>Test your knowledges and skills in the best tv show.</p>
        <p>Register now or login with your account</p>
        <br /><br />
        <p class="text-center">
            <a style="font-size:14px" asp-controller="Account" asp-action="Login" class="btn btn-primary form-control">Login</a>
            <a style="font-size:14px" asp-controller="Account" asp-action="Register" class="btn btn-success form-control">Register</a>
        </p>
    </div>
    <div class="col-md-6">
        <img src="https://gamingbolt.com/wp-content/uploads/2012/02/who-wants-to-be-a-millionaire-special-editions.jpg" style="opacity:0.5" />
    </div>
</div>
